<html>
<head>
  <title>Email Validation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
<div id="success">
  The email address you entered {{session['email']}} is a VALID email address! Thank you!
</div>
<table>
    <h2> Email Addresses Entered:</h2>
{% for emails in all_emails: %}
   <tr>
        <td>{{ emails['email'] }}</td>
        <td>{{ emails['created'] }}</td>
   </tr>
{% endfor %}
</table>  
  <h2>Add an Email</h2>
  <form action='/input' method='POST'>
        Email Address: <input type = "text" name="email" value="email">
        <input type="submit" value="Submit"> 
  </form>
  <h2>Delete an email</h2>
  <form action='/delete' method='POST'>
        Email Address: <input type = "text" name="email" value="email">
        <input type="submit" value="Submit"> 
  </form>

</body>
</html>